.brand-image {
  width:95px;  /* Ajuste selon tes besoins */
  height: 55px;  /* Garde une hauteur fixe */
  object-fit: cover;  /* Assure que l'image garde ses proportions */
  border-radius: 2px;  /* Ajoute des bords arrondis */
  display: block;  /* Évite les marges indésirables */
  margin: auto;  /* Centre l'image dans la cellule */
}
