<clr-tabs>
  <clr-tab>
    <button clrTabLink>Information générale</button>
    <clr-tab-content *clrIfActive>

      <br>
      <section>
        <h3>Détails de Produit</h3>
        <div class="spinner-class" *ngIf="!productId">
          <clr-spinner [clrMedium]="true"></clr-spinner>
        </div>
        <form clrForm *ngIf="productId">
          <clr-input-container>
            <label>Id </label>
            <input clrInput type="text" value="{{Product.id}}" readonly *ngIf="Product.id" />
            <label *ngIf="!Product.id"><span class="label label-warning">Non disponible!</span></label>
          </clr-input-container>
          <clr-input-container>
            <label>Nom </label>
            <input class="input-full-text" clrInput type="text" readonly [(ngModel)]="Product.name" name="name"
              *ngIf="Product.name" />
            <label *ngIf="!Product.name"><span class="label label-warning">Non disponible!</span></label>
          </clr-input-container>
          <clr-textarea-container>
            <label>Description</label>
            <textarea clrTextarea [(ngModel)]="Product.description" name="description" required *ngIf="Product.description"></textarea>
            <label *ngIf="!Product.description"><span class="label label-warning">Non disponible!</span></label>
        </clr-textarea-container>

          <clr-input-container>
            <label>Catégorie</label>
            <input class="input-full-text" clrInput type="text" readonly [value]="Product.categoryId?.name" name="categoryId"  />
            <label *ngIf="!Product.categoryId"><span class="label label-warning">Non disponible!</span></label>
          </clr-input-container>

          <clr-input-container>
            <label>Marque</label>
            <input  class="input-full-text"  clrInput type="text"  readonly [value]="Product.modelId?.brandId?.name " name="brandId"   />
            <label *ngIf="!Product.modelId?.brandId"><span class="label label-warning">Non disponible!</span></label>
          </clr-input-container>

          <clr-input-container>
            <label>Modèle</label>
            <input class="input-full-text" clrInput type="text" readonly [value]="Product.modelId?.name" name="modelId"  />
            <label *ngIf="!Product.modelId"><span class="label label-warning">Non disponible!</span></label>
          </clr-input-container>
          <clr-input-container>
            <label>Actif / Non actif</label>
            <label *ngIf="Product.active==true"><span class="label label-success">Actif</span></label>
            <label *ngIf="Product.active==false"><span class="label label-warning">Non actif</span></label>
          </clr-input-container>
          <clr-input-container>
            <label>Créé(e) le</label>
            <input clrInput *ngIf="Product.createdAt" value="{{ Product.createdAt | date: 'dd/MM/yyyy à HH:mm' }}" readonly />
            <label *ngIf="!Product.createdAt "><span class="label label-warning">Non disponible!</span></label>
          </clr-input-container>
          <clr-input-container>
            <label>Mis(e) à jour le</label>
            <input clrInput *ngIf="Product.updatedAt" value="{{ Product.updatedAt | date: 'dd/MM/yyyy à HH:mm' }}" readonly />
            <label *ngIf="!Product.updatedAt"><span class="label label-warning">Non disponible!</span></label>
          </clr-input-container>
          <br>

          <div class="btn-group btn-sm btn-outline-primary ">
            <button class="btn" (mousedown)="redirectTo()">
              <cds-icon shape="undo"></cds-icon> Retour
            </button>
            <button class="btn" routerLink="/products/edit/{{Product.id}}" *ngIf="Product.id!=currentProduct">
              <cds-icon shape="pencil"></cds-icon> Modifier produit
            </button>
            <button class="btn" (click)="deleteAction()" *ngIf="Product.id!=currentProduct">
              <cds-icon shape="trash"></cds-icon> Supprimer
            </button>
          </div>
        </form>

      </section>
      <app-product-delete *ngIf="showAlert && Product.id" (closed)="close()" (saved)="save()" [allSelected]="[Product.id]"></app-product-delete>

    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Tarif</button>
    <clr-tab-content *clrIfActive>
      <section>
        <h3>Détails de Produit</h3>
        <div class="spinner-class" *ngIf="!productId">
          <clr-spinner [clrMedium]="true"></clr-spinner>
        </div>
        <form clrForm *ngIf="productId">
          <clr-input-container>
            <label>Id </label>
            <input clrInput type="text" value="{{Product.id}}" readonly *ngIf="Product.id" />
            <label *ngIf="!Product.id"><span class="label label-warning">Non disponible!</span></label>
          </clr-input-container>
          <clr-input-container>
            <label>TVA en pourcentage (%) </label>
            <input class="input-full-text" clrInput type="text" readonly [(ngModel)]="Product.tva" name="tva"
              *ngIf="Product.tva" />
            <label *ngIf="!Product.tva"><span class="label label-warning">Non disponible!</span></label>
          </clr-input-container>
          <clr-input-container>
            <label>Prix d'achat HT </label>
            <input class="input-full-text" clrInput type="text" readonly [(ngModel)]="Product.priceHT" name="priceHT"
              *ngIf="Product.priceHT" />
            <label *ngIf="!Product.priceHT"><span class="label label-warning">Non disponible!</span></label>
          </clr-input-container>
          <clr-input-container>
            <label>Prix TTC </label>
            <input class="input-full-text" clrInput type="text" readonly [(ngModel)]="Product.priceTTC" name="priceTTC"
              *ngIf="Product.priceTTC" />
            <label *ngIf="!Product.priceTTC"><span class="label label-warning">Non disponible!</span></label>
          </clr-input-container>
          <clr-input-container>
            <label>Quantité initiale </label>
            <input class="input-full-text" clrInput type="text" readonly [(ngModel)]="Product.initialQuantity" name="initialQuantity"
              *ngIf="Product.initialQuantity" />
            <label *ngIf="!Product.initialQuantity"><span class="label label-warning">Non disponible!</span></label>
          </clr-input-container>
          <clr-input-container>
            <label>Quantité restante </label>
            <input class="input-full-text" clrInput type="text" readonly [(ngModel)]="Product.remainingQuantity" name="remainingQuantity"
              *ngIf="Product.remainingQuantity" />
            <label *ngIf="!Product.remainingQuantity"><span class="label label-warning">Non disponible!</span></label>
          </clr-input-container>
          <br>
          <div class="btn-group btn-sm btn-outline-primary ">
            <button class="btn" (mousedown)="redirectTo()">
              <cds-icon shape="undo"></cds-icon> Retour
            </button>
            <button class="btn" routerLink="/products/edit/{{Product.id}}" *ngIf="Product.id!=currentProduct">
              <cds-icon shape="pencil"></cds-icon> Modifier produit
            </button>
            <button class="btn" (click)="deleteAction()" *ngIf="Product.id!=currentProduct">
              <cds-icon shape="trash"></cds-icon> Supprimer
            </button>
          </div>
        </form>

      </section>
      <app-product-delete *ngIf="showAlert && Product.id" (closed)="close()" (saved)="save()" [allSelected]="[Product.id]"></app-product-delete>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Galerie</button>
    <clr-tab-content *clrIfActive>
      <form clrForm>

        <div  class="d-flex flex-wrap pb-20">
          <div *ngFor="let img of Product?.images ; let i = index" class="card-img card mg-r-20">
            <div class="d-flex" style="align-items: center; justify-content:space-between" >
                    <button type="button" class="btn btn-icon btn-sm delete-icon" (click)="deleteImage(img)">
                        <cds-icon shape="trash" status="danger"></cds-icon>
                    </button>
            </div>
            <img [src]="img.path" *ngIf="img.path" width="50px" height="50px"/>
            </div>
          </div>
      </form>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
